@charset "utf-8";

  #navigation
{
margin:0 auto;
width:1350px;
height:60px;
background:#000000;
border:1px solid #282828;
}
#navigation ul
{
list-style:none;
}
#navigation ul li
{
color:#adadad;
float:left;
text-align:center;
font:bold 15px/40px Arial, Helvetica, sans-serif;
width:162px;
border-right:1px solid #282828;
}
#navigation ul li a
{
text-decoration:none;
display:block;
color:#adadad;
}
#navigation ul li a:hover
{
color:#FFFFFF;
}
#navigation ul li.last
{
border:none;
float:left;
}
